doctype 5
html
	head
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		title= chat
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/chat.js')
	body
		h1 Welcome ChatNode
		#all
			ul#log
			#users this is a list of users
			#alert Identificate:
			input#nick(type='text')
			#yo
			br
			input#message(type='text')
			button#button Enviar

