!!! 5
html(lang='en-US')
	head
		meta(charset='UTF-8')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(type='text/javascript', src='http://www.google.com/jsapi?key=AIzaSyD0u_qbpcRSJ2dhR2oXeydZaCyr2TkacGo')
		script(type='text/javascript', src='/js/driveapi.js')
		script(type='text/javascript', src='/js/chat.js')
		script(type='text/javascript', src='/js/bootstrap.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/faye.js')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
	body
		#all.container
			#logo
				img(src="/images/coderchat_logo.png")
			#full.row
				#boxes.row-fluid
					#frameChat.span9(style='height: 210px')
						ul#log(style='height: 200px; overflow-y: scroll;')
					#frameUsers.span3(style='height: 120px;')
						#users(style='height: 100%; overflow-y: scroll;') En linea:
					#adds.pan3 
						a(href="http://dark-engell.blogspot.mx", target="_blank", alt="Dark Engell")
							img#engell(src="/images/darkengell.png", alt="Dark Engell")
				#fields.row-fluid
					#createGist.span12
						section.span9#box
							span Descripción:
							br
							input#descriptionGit.span12(type="text", value='Un simple Gist', onfocus='if (this.value=="Un simple Gist") this.value="";')
							br
							span Código:
							br
							textarea#textarea.span12(name='textdata')(style="height: 200px;")
						section.span3#select
							br
							span Lenguaje:
							label
								select.x-list.btn
									option.btn(value='json') json
									option.btn(value='html') html
									option.btn(value='txt') txt
									option.btn(value='js') javascript
									option.btn(value='rb') ruby
									option.btn(value='py') python
									option.btn(value='css') css
									option.btn(value='jade') jade
									option.btn(value='erb') html+erb
							input.checkBox#checkBox(type='checkbox')Check Público
							br
							button.x-button.btn Enviar Gist
							button#cancelarGist.btn Cancelar
					#contends.span9
						#alert.span9 
							h3 Identif&iacute;cate:
						#userField.span9
							input#nick.5(type='text')
							button#buttonUser.btn Enviar
						#send.span9
							input.span9#message(type='text')(style="width: 650px;")
							button#buttonSend.btn Enviar
					#buttonsArea.span3
						button#gDocsButton.btn Enviar Archivo...
						br
						button#gistForm.btn Enviar Código...
