body {
	 background-color: #D8D8D8;
}

#all {
  padding: 50px;
	background-color: #D8D8D8;
}

ul#log {
	list-style: none;
	background-color: #BDBDBD;
  border-radius: 5px;
	marging: 5px;
   border-radius: 5px;
}

#users {
	background-color: #BDBDBD;	
  border-radius: 5px;
	marging: 5px;
   border-radius: 5px;
}

#send {
	display: none;
}

#yo {
	display: none;
}

a {
  color: #00B7FF;
}
