body {
	background-color: #F3F3F3;
}

#all {
  padding: 40px;
}

ul#log {
  padding: 10px;
	list-style: none;
	-webkit-border-radius: 10px;
  border-radius: 10px;
	background-color: #393939;
	margin: 5px;
}

#users {
  padding: 10px;
	-webkit-border-radius: 10px;
  border-radius: 10px;
	margin: 5px;
	background-color: #393939;
}

#adds {
  padding: 10px;
  border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contends {
	margin: 5px;
	background-color: #393939;
  padding: 10px;
  border-radius: 10px;	
}

#buttons {
	margin: 5px;
	background-color: #393939;
  padding: 10px;
  border-radius: 10px;	
	text-align: center;
}

#send {
	display: none;
}

